* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  height: 100px;
  width: 100px;
}

navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.info {
  padding-right: 2%;
}

main {
  display: flex;
  border-top: 1px solid;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 550px;
  width:auto;
  background-color: lightgray;
}

.welcome-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  height: 150px;
  width: 300px;
  border-radius: 8%;
  border: 2px solid rgb(196, 189, 189);
  background-color: white;
}
@media (max-width:500px){
    .welcome-logo {
        height: 300px;
        width: 600px;
      }

}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #0072e1;
  height: 150px;
  color: lightgray;
  font-size: small;
  padding-top: 2%;
}

.copyright {
  padding-left: 2%;
}

.logo-llc {
  padding-right: 2%;
}
